<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserInfoHeader</title>
</head>
<body>
<h2>
    <div th:if="${session.sessionUser eq null}">
        <a th:href="@{/login}">Login</a>
    </div>
    <div th:if="${session.sessionUser ne null}">
        <a th:href="@{/user_menu}" th:text="${session.sessionUser.username}">Username</a>
        <label th:text="|, ${session.sessionUser.money}$|"></label>
        <div th:if="${session.sessionUser.position.position eq 'Admin'}">
            <a th:href="@{/admin_menu}">Admin menu</a>
        </div>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</h2>
</body>
</html>