<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<table>
    <tr>
        <c:if test="${empty sessionScope.user}">
            <a href="${pageContext.request.contextPath}<%=UrlPath.LOGIN%>">Login</a>
        </c:if>
        <c:if test="${not empty sessionScope.user}">
            <a href="${pageContext.request.contextPath}<%=UrlPath.USER_PROFILE%>">${sessionScope.user.username}</a>
            <label>, $${sessionScope.user.money}</label>
            <c:if test="${sessionScope.user.position eq 'Admin'}">
                </br>
                <a href="${pageContext.request.contextPath}<%=UrlPath.ADMIN_PROFILE%>">Admin menu</a>
            </c:if>
            </br>
            <form action="${pageContext.request.contextPath}<%=UrlPath.LOGOUT%>" method="post">
                <button type="submit">Logout</button>
            </form>
        </c:if>
    </tr>
    <tr>
        </br>
        <form action="<%=UrlPath.MAIN%>" method="post">
            <td>
                <select name="currentCategory" id="currentCategory">
                    <c:forEach var="category" items="${sessionScope.categories}">
                        <option label="${category.categoryName}">${category.categoryName}</option>
                    </c:forEach>
                </select>
            </td>
            <td>
                <button type="submit">Use filter</button>
            </td>
        </form>
    </tr>
</table>

