<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main</title>
</head>

<body>
<div th:replace="~{headers/userInfoHeader}">header</div>
<form th:action="@{/}" method="post">

    <select name="currentCategory" id="currentCategory" required>
        <div th:each="category : ${session.categories}">
            <option th:selected="${currentCategory}" th:text="*{categoryName}">Category name</option>
        </div>
    </select>
    <button type="submit">Use filter</button>
</form>
<div align="center">
    <h2 th:if="${currentCategory}">Category</h2>
    <table border="1">
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Cost ($)</th>
        </tr>
        <div th:each="product : ${products}">
            <tr>
                <td>
                    <img th:src="@{'data:image/jpeg;base64,'+${product.generateBase64String()}}" alt="" width="150"/>
                </td>
                    <td th:text="${product.name}">Name</td>
                    <td th:text="${product.price}">Price</td>
                    <div th:if="${(session.sessionUser ne null) and (product.user ne session.sessionUser)}">
                        <form th:action="@{/advertise/{id}(id=${product.id})}" method="get">
                            <td>
                                <input type="submit" value="More information">
                            </td>
                        </form>
                    </div>
            </tr>
        </div>
    </table>
</div>
</body>
</html>
