<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Login</title>
</head>
<body>
<div align="center">
    <header>
        <h1>Log In</h1>
    </header>

    <table>
        <tr>
            <td><a th:href="@{/login}">Login</a></td>
            <td>
                <pre>   </pre>
            </td>
            <td><a th:href="@{/registration}">Registration</a></td>
        </tr>
    </table>

    <form th:action="@{/login}" method="post" th:object="${userLog}">
        <label>Username: </label>
        <input type="text" th:field="*{username}" th:value="*{username}">
        <br/>

        <label>Password: </label>
        <input type="password" th:field="*{password}" th:value="*{password}">
        <br/>

        <button type="submit">Login</button>
    </form>

    <div style="color: red" th:if="${errors}">
        <h4 th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</h4>
    </div>

    <h2>
        <a th:href="@{/}">Trading floor</a>
    </h2>
</div>
</body>
</html>