<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Login</title>
</head>
<body>
<div align="center">
    <header>
        <h1>Log In</h1>
    </header>

    <table>
        <tr>
            <td><a th:href="@{/login}">Login</a></td>
            <td>
                <pre>   </pre>
            </td>
            <td><a th:href="@{/registration}">Registration</a></td>
        </tr>
    </table>

    <form th:action="@{/login}" method="post">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required>
        <br/>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
        <br/>

        <button type="submit">Login</button>
    </form>

    <div style="color: red" th:if="${param.error}">
        Invalid username or password
    </div>

    <h2>
        <a th:href="@{/}">Trading floor</a>
    </h2>
</div>
</body>
</html>