<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<div align="center">
    <header>
        <h1>Register new user</h1>
    </header>

    <table>
        <tr>
            <td><a th:href="@{/login}">Login</a></td>
            <td>
                <pre>   </pre>
            </td>
            <td><a th:href="@{/registration}">Registration</a></td>
        </tr>
    </table>

    <form th:action="@{/registration}" method="post" th:object="${userReg}">
        <label>Name: </label>
        <input type="text" th:field="*{username}" required th:value="*{username}">
        <br/>

        <label>Email: </label>
        <input type="text" th:field="*{email}" required th:value="*{email}">
        <br/>

        <label>Phone: </label>
        <input type="text" th:field="*{phoneNumber}" required th:value="*{phoneNumber}">
        <br/>

        <label>Password: </label>
        <input type="password" th:field="*{rawPassword}" required th:value="*{rawPassword}">
        <br/>

        <input type="hidden" name="position" id="position" th:value="User">

        <input type="submit" value="Register">
    </form>

    <div style="color: red" th:if="${errors}">
        <h4 th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</h4>
    </div>

    <h2>
        <a th:href="@{/}">Trading floor</a>
    </h2>
</div>
</body>
</html>
