<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin menu</title>
</head>
<body>
<div align="center">
    <table>
        <tr>
            <td>
                <h2>Admin menu</h2>
            </td>
            <td>
                <a th:href="@{/}">Return</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/admin_menu/users}">All users</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/admin_menu/orders}">All orders</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/admin_menu/verify}">Verify advertise</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
