<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Change password</title>
</head>
<body>
<div th:insert="~{fragments::userHeader}">header</div>
<div align="center">
    <table>
        <tr>
            <td>
                <a th:href="@{/user_menu/about}">Return</a>
            </td>
            <td>
                <h1>Change password</h1>
            </td>
        </tr>
    </table>
    <form th:action="@{/user_menu/about/change_password}" method="post" th:object="${userUpdatePassword}">
        <label>Old password:
            <input type="password" th:field="*{oldPassword}" required th:value="*{oldPassword}">
        </label><br/>

        <label>New password:
        <input type="password" th:field="*{rawPassword}" required th:value="*{rawPassword}">
        </label><br/>

        <input type="hidden" id="id" name="id" th:value="${session.sessionUser.id}">

        <button type="submit">Update</button>
    </form>

    <div style="color: red" th:if="${errors}">
        <h4 th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</h4>
    </div>

    <div style="color: green" th:if="${message}">
        <h4 th:text="${message}">Message</h4>
    </div>
</div>
</body>
</html>
