<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Replenish</title>
</head>
<body>
<div th:replace="~{headers/userInfoHeader}">header</div>
<div align="center">
    <table>
        <tr>
            <td>
                <a th:href="@{/user_menu}">Return</a>
            </td>
            <td>
                <h1>Replenish balance</h1>
            </td>
        </tr>
    </table>

    <form th:action="@{/user_menu/replenish}" method="post">
        <select name="money" id="money" required>
            <option th:text="10" th:value="10"></option>
            <option th:text="100" th:value="100"></option>
            <option th:text="1000" th:value="1000"></option>
        </select>

        <input type="submit" value="Replenish">
    </form>

</div>
</body>
</html>