<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>User menu</title>
</head>
<body>
<div th:replace="~{headers/userInfoHeader}">header</div>
<div align="center">
    <table>
        <tr>
            <td>
                <h1>Menu</h1>
            </td>
            <td>
                <a th:href="@{/}">Return</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/user_menu/about}">About user</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/user_menu/add_advertisement}">New advertisement</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/user_menu/advertisements}">My advertisements</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/user_menu/replenish}">Replenish balance</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
